/**
* PDP - Product Details Page (Mobile)
**/

@import "_mixins.scss";
@import "_variables.scss";
@import "compass/css3/transform";

.outfiting-section-container,
.outfiting-container,
.product-details-container {
  /* Breadcrum */
  .breadcrum-container {
    padding: 15px 0;
    margin: 0px;
    border-bottom: solid 1px $color-primary-one-opacity;
    border-top: solid 1px $color-primary-one-opacity;
  }

  .ratings-and-reviews-accordion {
    .ratings-and-reviews-container {
      display: none;
    }

    &.accordion-expanded {
      .ratings-and-reviews-container {
        display: block;
      }
    }

    .accordion-toggle {
      font-size: 0px;
    }
  }

  #BVSpotlightsContainer {
    z-index: 1;
    position: relative;
  }
}

.giftcard-result-container,
.outfiting-section-container,
.product-details-container,
.search-result-container {
  padding: 22px 16px;
  min-height: 100vh;
  width: 100%;
  display: block;

  .breadcrum-item {
    @include subheading-primary-text($color-primary-two);
    text-transform: none;
  }

  .breadcrum-last-item {
    @extend .breadcrum-item;
    color: $color-accent-two;
  }

  .breadcrum-separation {
    @extend .breadcrum-item;
  }

  + .react-overlay {
    z-index: 9999;
  }
}

/* Container of wishlist button */
.wishlist-icon-container {
  width: 35px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  position: relative;

  .error-box {
    width: 210px;
    margin-left: -170px;
  }

  &:hover {
    .favorite-message {
      display: block;
    }
  }

  .favorite-message {
    display: none;
    position: absolute;
    min-width: 156px;
    z-index: 1;
    background-color: $color-global-white;
    text-transform: uppercase;
    right: 50px;
    top: 0px;
    padding: 7px 16px 6px 15px;
    @include subheading-secondary-text();
    @include font-global-black();
    @include box-shadow(inset 0px 0px 0px 1px $color-primary-one);

    &:after {
      content: '';
      display: inline-block;
      width: 6px;
      height: 6px;
      position: absolute;
      right: -3px;
      top: calc(50% - 4px);
      @include transform(rotate(45deg));
      background-color: $color-global-white;
      border-right: solid 1px $color-primary-one;
      border-top: solid 1px $color-primary-one;
    }
  }
}

/* Wishlist Button */
.button-wishlist {
  font-size: 0px;
  width: 35px;
  height: 37px;
  display: inline-block;

  @include icon-tcp-favorite();
  &:before {
    font-size: 35px;
    padding: 2px 0px; // NOTE: IE issue
  }

  &.added-to-wishlist {
    @include icon-tcp-favorite-filled();
    &:before {
      font-size: 35px;
      padding: 2px 0px; // NOTE: IE issue
    }
  }
}

.wishlist-qty-information {
  @include notification-primary-text();
  @include font-global-regular();
  margin-top: 5px;
  position: relative;
  display: inline-block;
}

.sending-giftcard {
  @include font-global-regular();

  a {
    margin-left: 5px;
    color: $color-primary-one;
  }
}

.go-back-container {
  margin-bottom: 15px;

  + .product-details-header-promo-text-area {
    margin-bottom: 15px;
  }
}

.button-go-back {
  @include subheading-secondary-text();
  @include icon-tcp-chevron();
  // line-height: 45px;

  &:before {
    font-size: 6px;
    font-weight: 900;
    margin-right: 5px;
    transform: rotate(270deg);
  }
}
