/*
 * Favorites Section (Mobile)
 */

.wishlist-section-container {
  display: inline-block;
  width: 100%;
  padding: 0px 16px 0px;

  .product-recomendation-container {
    margin-left: -16px;
    margin-right: -16px;
  }

  /* Wishlist Item / read only */
  .item-container {
    .error-box {
      margin-top: 20px;
      margin-bottom: 15px;
    }
  }
}

.wishlist-list-container {
  padding: 20px 0px;
}

.favorites-guest-banner {
  margin: 20px 0px;
  max-width: 100vw;
  width: 100%;

  img {
    width: 100%;
    display: inline-block;
  }
}
