/*
 * Header Wishlist (Mobile)
 */

@import "_mixins.scss";
@import "_variables.scss";

/* Filter section from Wishlist page */
.favorite-filter-container {
  display: inline-block;
  position: relative;
  border-top: solid 1px $color-primary-four;
  border-bottom: solid 1px $color-primary-four;

  margin: 0px -16px;
  width: calc(100% + 32px);
  padding: 16px;
}

.display-filter {
  &.select-common { // FIXME: modify className of main component (LabeledSelect)
    display: inline-block;
    width: 33%;
  }
}

.sort-by {
  display: inline-block;
  width: 33%;

  label {
    display: inline-block;
  }
}

.sort-by {
  float: right;
}

.favorite-results-count {
  left: 16px;
  position: absolute;
  top: -40px;
  text-align: left;
}

.item-read-only-container {
  .favorite-results-count {
    display: inline-block;
    width: 33%;
    text-align: center;

    left: auto;
    top: -105px;
    position: relative;
  }

  /* Filter section from Wishlist page */
  .favorite-filter-container {
    margin-top: 35px;
  }
}
