/**
* Points History Section (Desktop)
**/

@import "_m.points-history-section.scss";

.points-summary-list-table {
  margin-top: 40px;
  width: 70%;
  margin-bottom: 20px;
}

.empty-points-history {
  min-height: 290px;
}
