{
"plugins": [
    "eslint-plugin-react"
  ],
  "ecmaFeatures": {
      "jsx": true
  },
  "rules": {
    "semi": ["warn", "always"],
    "no-extra-semi": ["warn"],
    "react/jsx-uses-vars": "warn",
    "react/jsx-uses-react": "warn",
    "react/jsx-no-undef": "warn",
    jsx-quotes: ["warn", "prefer-double"],
    "padded-blocks": ["off", { "classes": "never" }],
    "no-mixed-operators": ["off", {"groups": [["&&", "||"]]}]
  },
  "extends": ["warn-standard"],
  "parser": "babel-eslint"
}
