/**
* My Rewards Navigation (Desktop)
**/

@import "_m.my-rewards-navigation.scss";

.my-rewards-navigation-container {
  display: block;
}

.my-rewards-navigation-item {
  display: inline-block;
  margin-right: 40px;
}
