.header-global-messages {
  height: 39px;
  position: relative;

  .button-find-store {
    @include notification-primary-text($color-primary-one);
    float: left;
    line-height: 39px;
    height: 39px;
    @include icon-tcp-pin();

    > span {
      position: relative;
      top: 2px;
      left: -2px;
      color: $color-primary-one;
      text-transform: capitalize;
    }

    &:before {
      font-size: 30px;
      position: relative;
      vertical-align: middle;
      line-height: 39px;
    }
  }

  .header-global-message {
    text-align: center;
    display: inline-block;
    position: relative;
    @include notification-primary-text();
    @include font-global-heavy();
    line-height: 39px;
    height: 39px;
    text-transform: none;
    left: 10%;
    @include transform(translateX(-10%));

    // @media (min-width: 1200px) {
    //   width: 33%;
    //   float: left;
    //   margin-left: calc(33% - 105px);
    // }

    @media (min-width: 1200px) {
      left: 30%;
      @include transform(translateX(-30%));
    }

    a, button {
      color: $color-primary-one;
      text-decoration: underline;
    }
  }
}
