<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>TCP's | Mobile Checkout | Static HTML Index</title>
  <meta name="description" content="Mobile Checkout" />
  <meta name="msapplication-tap-highlight" content="no" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, target-densitydpi=device-dpi" />
  <link rel="stylesheet" href="/css/page-readiness.css" />
</head>

<body>
  <section class="container-dashboard">
    <ol>
      <li><a href="#" class="title-primary">Desktop</a>
        <ul>
          <li class="ready">
            <strong>My Account</strong>
            <a href="d.react.html/account" >Ready</a>
            <a href="https://projects.invisionapp.com/share/45971558T#/screens/202094336" class="product-name" target="_new">Invision</a>
          </li>

          <li class="ready">
            <strong>Guest Order Details</strong>
            <a href="d.react.html/track-order/87978" >Ready</a>
            <a href="https://projects.invisionapp.com/share/45971558T#/screens/202094336" class="product-name" target="_new">Invision</a>
          </li>

          <li class="ready">
            <strong>Guest Reservation Details</strong>
            <a href="d.react.html/track-reservation/87978" >Ready</a>
            <a href="https://projects.invisionapp.com/share/45971558T#/screens/202094336" class="product-name" target="_new">Invision</a>
          </li>

          <li class="ready">
            <strong>PLCC</strong>
            <a href="d.react.html/place-card" >Ready</a>
            <a href="" class="product-name" target="_new">Invision</a>
          </li>

          <li class="ready">
            <strong>Store Pages</strong>
            <a href="d.react.html/store/queens-center-elmhurst-nj-110824" class="product">Ready</a>
            <a href="https://projects.invisionapp.com/share/45971558T#/screens/209161661" class="product-name" target="_new">Invision</a>
          </li>

          <li class="wip">
            <strong>Web Instant Credit</strong>
            <a href="#" class="product">Ready</a>
            <a href="https://projects.invisionapp.com/share/45971558T#/screens/202316904" class="product-name" target="_new">Invision</a>
          </li>

        </ul>
      </li>
      <li>
        <a href="#" class="title-primary">Mobile</a>
        <ul>
          <li class="ready">
            <strong>My Account</strong>
            <a href="m.react.html/account" >Ready</a>
            <a href="https://projects.invisionapp.com/share/45971558T#/screens/202094336" class="product-name" target="_new">Invision</a>
          </li>

          <li class="ready">
            <strong>Guest Order Details</strong>
            <a href="m.react.html/track-order/87978" >Ready</a>
            <a href="https://projects.invisionapp.com/share/45971558T#/screens/202094336" class="product-name" target="_new">Invision</a>
          </li>

          <li class="ready">
            <strong>Guest Reservation Details</strong>
            <a href="m.react.html/track-reservation/87978" >Ready</a>
            <a href="https://projects.invisionapp.com/share/45971558T#/screens/202094336" class="product-name" target="_new">Invision</a>
          </li>

          <li class="ready">
            <strong>PLCC</strong>
            <a href="m.react.html/place-card" >Ready</a>
            <a href="https://projects.invisionapp.com/share/45971558T#/screens/202094336" class="product-name" target="_new">Invision</a>
          </li>

          <li class="ready">
            <strong>Store Pages</strong>
            <a href="m.react.html/store/queens-center-elmhurst-nj-110824" class="product">Ready</a>
            <a href="https://projects.invisionapp.com/share/45971558T#/screens/209161661" class="product-name" target="_new">Invision</a>
          </li>

          <li class="wip">
            <strong>Web Instant Credit</strong>
            <a href="#" class="product">Ready</a>
            <a href="https://projects.invisionapp.com/share/45971558T#/screens/202316904" class="product-name" target="_new">Invision</a>
          </li>
        </ul>
      </li>

    </ol>
  </section>
</body>

</html>
