<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>TCP's | Release 5 | Static HTML Index</title>
  <meta name="description" content="Mobile Checkout" />
  <meta name="msapplication-tap-highlight" content="no" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, target-densitydpi=device-dpi" />
  <link rel="stylesheet" href="/css/page-readiness.css" />
</head>

<body>
  <section class="container-dashboard">
    <ol>
      <li><a href="#" class="title-primary">Desktop</a>
        <ul>
          <li class="ready">
            <strong>PLP - Result from Menu</strong>
            <a href="d.react.html/c/girl-pants/" class="product">Ready</a>
            <a href="https://zpl.io/Z1B862F" class="product-name">Zeplin</a>
            <a href="https://projects.invisionapp.com/share/E797UQM5H#/screens/208829062">Invision</a>
          </li>

          <li class="ready">
            <strong>PLP - Result from Search</strong>
            <a href="d.react.html/search/pants" class="product">Ready</a>
            <a href="https://zpl.io/Z1B862F" class="product-name">Zeplin</a>
            <a href="https://projects.invisionapp.com/share/E797UQM5H#/screens/208829062">Invision</a>
          </li>

          <li class="ready">
            <strong>PDP - Product Details</strong>
            <a href="d.react.html/p/girl-pants-g1-45" class="product">Ready</a>
            <a href="https://zpl.io/Z2eUw8" class="product-name">Zeplin</a>
            <a href="https://projects.invisionapp.com/share/MB8YI106Z#/screens/196660906">Invision</a>
          </li>

          <li class="ready">
            <strong>PDP - Gift Card</strong>
            <a href="d.react.html/p/gift-cards-gc-1" class="product">Ready</a>
            <a href="https://zpl.io/1oaMrM" class="product-name">Zeplin</a>
            <a href="https://projects.invisionapp.com/share/H59WBFL3A#/screens/211238499">Invision</a>
          </li>

          <li class="ready">
            <strong>Help Center</strong>
            <a href="d.react.html/help-center" class="product">Ready</a>
            <a href="https://zpl.io/Z1BbbPf" class="product-name">Zeplin</a>
            <a href="https://projects.invisionapp.com/share/GT8KK1U3C#/screens/198022445">Invision</a>
          </li>

          <li class="ready">
            <strong>Favorites</strong>
            <a href="d.react.html/favorites" class="product">Ready</a>
            <a href="https://zpl.io/Z7RDB8" class="product-name">Zeplin</a>
            <a href="https://projects.invisionapp.com/share/C59C6U337#/screens/209377249">Invision</a>
          </li>

          <li class="wip">
            <strong>Bopis</strong>
            <a href="d.react.html/bopis" class="product">Ready</a>
            <a href="https://zpl.io/Z2pEp70" class="product-name">Zeplin</a>
          </li>

          <li class="ready">
            <strong>Gift Card Modal</strong>
            <a href="d.react.html/giftcards" class="product">Ready</a>
          </li>

          <li class="ready">
            <strong>Outfit</strong>
            <a href="d.react.html/outfit" class="product">Ready</a>
            <a href="https://zpl.io/Z17G0t5" class="product-name">Zeplin</a>
            <a href="https://projects.invisionapp.com/share/6F9RQUBUN">Invision</a>
          </li>

          <li class="ready">
            <strong>Store Locator</strong>
            <a href="d.react.html/store-locator" class="product">Ready</a>
            <a href="https://zpl.io/Z1fmuyy" class="product-name">Zeplin</a>
          </li>
          <li class="ready">
            <strong>Store Search</strong>
            <a href="d.react.html/stores" class="product">Ready</a>
            <a href="https://zpl.io/Z1fmuyy" class="product-name">Zeplin</a>
          </li>
          <li class="wip">
            <strong>Site Map</strong>
            <a href="m.react.html/site-map" class="product">Ready</a>
            <a href="https://projects.invisionapp.com/share/TJ9Q0XF57#/screens/211089574" class="product-name">Invision</a>
          </li>
          <li class="ready">
            <strong>HomePage</strong>
            <a href="d.react.html/home" class="product">Ready</a>
            <a href="https://projects.invisionapp.com/share/QB9OCXKG9#/screens/210551404" class="product-name">Zeplin</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#" class="title-primary">Mobile</a>
        <ul>
          <li class="ready">
            <strong>PLP - Result from Menu</strong>
            <a href="m.react.html/c/girl-pants/" class="product">Ready</a>
            <a href="https://projects.invisionapp.com/share/E797UQM5H#/screens/208829062">Invision</a>
          </li>

          <li class="ready">
            <strong>PLP - Result from Search</strong>
            <a href="m.react.html/search/pants" class="product">Ready</a>
            <a href="https://projects.invisionapp.com/share/E797UQM5H#/screens/208829062">Invision</a>
          </li>

          <li class="ready">
            <strong>PDP - Product Details</strong>
            <a href="m.react.html/p/girl-pants-g1-45" class="product">Ready</a>
          </li>

          <li class="ready">
            <strong>PDP - Gift Card</strong>
            <a href="m.react.html/p/gift-cards-gc-1" class="product">Ready</a>
          </li>

          <li class="ready">
            <strong>Help Center</strong>
            <a href="m.react.html/help-center" class="product">Ready</a>
            <a href="https://zpl.io/161qIT" class="product-name">Zeplin</a>
            <a href="https://projects.invisionapp.com/share/MQ9J4VVWG#/screens/208857188">Invision</a>
          </li>

          <li class="ready">
            <strong>Favorites</strong>
            <a href="m.react.html/favorites" class="product">Ready</a>
            <a href="https://zpl.io/Z1EBCDb" class="product-name">Zeplin</a>
            <a href="https://projects.invisionapp.com/share/CS9OL3OPA#/screens/210213868">Invision</a>
          </li>

          <li class="wip">
            <strong>Bopis</strong>
            <a href="d.react.html/bopis" class="product">Ready</a>
            <a href="https://zpl.io/SAu9y" class="product-name">Zeplin</a>
          </li>

          <li class="ready">
            <strong>Gift Card Modal</strong>
            <a href="m.react.html/giftcards" class="product">Ready</a>
          </li>

          <li class="ready">
            <strong>Outfit</strong>
            <a href="m.react.html/outfit" class="product">Ready</a>
            <a href="https://zpl.io/E6wG5" class="product-name">Zeplin</a>
            <a href="https://projects.invisionapp.com/share/9W9Z4ZLVH#/screens">Invision</a>
          </li>

          <li class="ready">
            <strong>Store Locator</strong>
            <a href="m.react.html/store-locator" class="product">Ready</a>
            <a href="https://zpl.io/ZABaqL" class="product-name">Zeplin</a>
          </li>
          <li class="ready">
            <strong>Store Search</strong>
            <a href="m.react.html/stores" class="product">Ready</a>
            <a href="https://zpl.io/Z1fmuyy" class="product-name">Zeplin</a>
          </li>
          <li class="wip">
            <strong>Site Map</strong>
            <a href="m.react.html/site-map" class="product">Ready</a>
            <a href="https://projects.invisionapp.com/share/BD9QJ312H#/screens/211241658" class="product-name">Invision</a>
          </li>
          <li class="ready">
            <strong>HomePage</strong>
            <a href="m.react.html/home" class="product">Ready</a>
            <a href="https://projects.invisionapp.com/share/2H9QJ6OPJ#/screens/211229492" class="product-name">Zeplin</a>
          </li>
        </ul>
      </li>

    </ol>
  </section>
</body>

</html>
