<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>TCP's | Mobile Checkout | Static HTML Index</title>
  <meta name="description" content="Mobile Checkout" />
  <meta name="msapplication-tap-highlight" content="no" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, target-densitydpi=device-dpi" />
  <link rel="stylesheet" href="/css/page-readiness.css" />
</head>

<body>
  <section class="container-dashboard">
    <ol>
      <li><a href="#" class="title-primary">Desktop</a>
        <ul>
          <li class="ready">
            <strong>Global Components</strong>
            <a href="d.react.html/home" class="product">Ready</a>
            <a href="https://projects.invisionapp.com/share/45971558T#/screens/202316896" class="product-name">Invision</a>
          </li>

          <li class="ready">
            <strong>Bag</strong>
            <a href="d.react.html/bag" class="product">Ready</a>
            <a href="https://projects.invisionapp.com/share/45971558T#/screens/202094381" class="product-name">Invision</a>
          </li>

          <li class="ready">
            <strong>Checkout</strong>
            <a href="d.react.html/checkout" class="product">Ready</a>
            <a href="https://projects.invisionapp.com/share/45971558T#/screens/202094381" class="product-name">Invision</a>
          </li>
        </ul>
      </li>

      <li><a href="#" class="title-primary">Mobile</a>
        <ul>
          <li class="ready">
            <strong>Global Components</strong>
            <a href="m.react.html/home" class="product">Ready</a>
            <a href="https://projects.invisionapp.com/share/45971558T#/screens/202316896" class="product-name">Invision</a>
          </li>

          <li class="ready">
            <strong>Bag</strong>
            <a href="m.react.html/bag" class="product">Ready</a>
            <a href="https://projects.invisionapp.com/share/45971558T#/screens/202094381" class="product-name">Invision</a>
          </li>

          <li class="ready">
            <strong>Checkout</strong>
            <a href="m.react.html/checkout" class="product">Ready</a>
            <a href="https://projects.invisionapp.com/share/45971558T#/screens/202094381" class="product-name">Invision</a>
          </li>
        </ul>
      </li>
    </ol>
  </section>
</body>

</html>
