@import "_m.trackorder.scss";

/* Track Order */
.track-order {
  .container-popup {
    padding: 38px 89px 30px;
  }

  .header-popup {
    margin-bottom: 45px;
  }
}

.track-order-desktop {
  .error-box {
    margin-bottom: 30px;
    margin-top: -20px;
  }
}
