@import "_mixins.scss";
@import "_variables.scss";

.modal-plcc {
  padding: 16px;
  padding-bottom: 20px;
  overflow-x: hidden;
}

.overlay-container.overlay-plcc-container {
  width: calc(100% + 64px);
  padding: 21px;
  margin-left: -32px;
  margin-top: -32px;
  margin-bottom: -30px;
  text-align: center;
}

.overlay-plcc-container {
  h3,h4 {
    @include heading-level-2($color: $color-primary-one);
    @include font-global-heavy();
    margin-bottom: 10px;
    text-align: left;
  }
  a {
    margin: 0 5px;
    text-transform: uppercase;
    @include subheading-secondary-text($color: $color-primary-one);
    @include font-global-medium();
    text-decoration: underline;
  }

  .subtitle-plcc {
    text-align: left;
    font-size: 15px;
  }

  .button-overlay-close {
    right: 42px;
    top: 44px;
  }
}

.plcc-content {
  padding: 15px;

  img {
    width: 100%;
    margin-bottom: 3px;
  }

  p {
    text-align: center;
    &.modal-content {
      margin-top: 15px;
    }
  }
}
.modal-content {
  text-align: justify;
  padding: 10px; 
}
.button-manage-account {
  @include button-secondary();
  margin: 5px 0;
  width: 90%;
}

.button-apply {
  margin: 5px 0;
  @include button-primary();
  width: 90%;
}

.buttons-container {
  margin-top: 10px;
  text-transform: uppercase;
}

.plcc-modal-rewards {
  display: block;
  max-width: 100%;
  height: auto;
}
