/**
* Change Password (Desktop)
*/

@import "_m.change-password.scss";

.change-password-container {
  .message-password {
    // @include body-secondary-text();
    @include description-primary-text();
    margin-bottom: 30px;
  }

  label {
    display: block;
    margin-right: 50px;
    margin-top: 20px;
    vertical-align: top;
  }

  .personal-information-form {
    .button-container {
      padding-top: 30px;
    }
  }
}
