/**
* My Account Section: Profile Information (Desktop)
*/

@import "_m.profile-information.scss";

.button-information {
  @include notification-secondary-text($color-global-white);
  margin-top: 16px;
  width: 200px;
  height: 35px;
  line-height: 37px;
  text-transform: uppercase;
}
