/**
* Change Password (Mobile)
*/

@import "_mixins.scss";
@import "_variables.scss";

/* Change Password section */
.change-password-container {
  .message-password {
    margin: 15px 0px 20px;
  }

  /* All Label */
  label {
    margin-bottom: 25px;

    &:last-of-type {
      margin-bottom: 0px;
    }
  }

  .personal-information-form {
    .button-container {
      padding: 10px 0 20px;
    }
  }
}
