@import '_m.help-center-navigation.scss';

.hc-navigation {
  width: 25%;
  display: inline-block;
}

/* My Account Navigation Link (<a>) */
.hc-link {
  padding: 10px 0px;
}

.help-center-item {
  border: none;
  padding-left: 0;
  display: block;

  &:last-child {
    border: none;
  }
}

.hc-link-selected {
  color: $color-primary-one;
}
