@import "_m.resetPassword.scss";

.back-to-login-button {
  + .modal-header {
    + .form-create-account {
      padding-top: 50px;
    }
  }
}

.reset-password {
  padding: 0;
  background: $color-global-white;

  .back-to-login-button {
    left: 24px;
  }

  .button-create-account {
    background: transparent;
    border: 0px;
    color: $color-primary-one;
    text-decoration: underline;
  }

  form {
    padding: 62px 105px 0px;
    position: relative;
  }

  .message {
    text-align: center;
  }

  .new-account {
    &:before {
      height: 2px;
      width: 135%;
      left: -63px;
    }
  }
}

.reset-new-password  {
  .content-tooltip {
    &:before {
      left: auto;
      right: 69px;
    }
  }
}

.reset-password-confirm {
  padding: 23px 105px 30px;
}

/* Centered overlay of Login, Reset Password and My Place Rewards Member */
.overlay-login-and-reset-form {

  .reset-password {
    form {
      margin-bottom: 0px;
      padding: 43px 86px;
    }
  }
}
