@import "_mixins.scss";
@import "_variables.scss";

.back-to-login-button {
  + .modal-header {
    + .form-create-account {
      padding-top: 60px;
    }
  }
}

.reset-password {
  position: relative;
  padding-top: 70px;

  a {
    @include description-primary-text($color: $color-primary-one);
    text-decoration: underline;
  }

  .back-to-login-button {
    @include description-primary-text();
    text-decoration: underline;
    position: absolute;
    left: 4px;
    top: 25px;
  }

  .message {
    margin-bottom: 22px;

    .reset-password-form-title {
      @include font-global-medium();
    }

    p {
      margin-top: 10px;
      @include description-primary-text();
    }
  }

  .reset-button {
    margin: 25px 0 28px;
  }

  .new-account {
    text-align: center;
    padding-top: 20px;
    position: relative;

    &:before {
      content: "";
      height: 1px;
      background: #f1f1f1;
      width: calc(87vw);
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .button-create-account {
    background-color: $color-primary-one;
    color: $color-global-white;
    border: 1px solid #363636;
    margin-top: 20px;
    margin-bottom: 15px;
  }

  .error-box,
  .success-box {
    margin: 33px 0 23px;
  }
}

//New reset password
.password,
.confirm-password {
  margin-top: 20px;
}

.reset-new-password  {
  @media (max-width: 800px){
    .content-tooltip {
      left: 0;

      &:before {
        left: auto;
        right: 21px;
      }
    }
  }
}
