/**
 * Header
 **/
 @import "./_reset.scss";
 @import "./_fonts.scss";
 @import "./_mixins.scss";
 @import "./_variables.scss";
 @import "./_form.scss";

@font-face {
  font-family: "icons";
  src: font-url("icons.eot");
  src: font-url("icons.eot?#iefix") format("embedded-opentype"),
       font-url("icons.woff") format("woff"),
       font-url("icons.ttf") format("truetype"),
       font-url("icons.svg#icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "icons";
    src: font-url("icons.svg#icons") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

h1 {
	@include heading-level-1();
}

h2 {
	@include heading-level-2();
}

h3 {
	@include heading-level-3();
}

h4 {
	@include heading-level-4();
}

/**
 * Main
 **/

.ReactModal__Body--open {
  .pac-container {
    z-index: 100000;
  }
}

.tcp-loading {
	@include tcp-loading();
}

.button-primary {
	@include button-primary();
}

.button-secondary {
	@include button-secondary();
}

.button-tertiary {
	@include button-tertiary();
}

.button-quaternary {
	@include button-quaternary();
}

.price-text {
	@include prices();
}

sup {
  font-size: .5em;
  position: relative;
  top: -3px;
  margin-left: 2px;
  margin-right: 2px;
}

// Only display content to screen readers
// See: http://a11yproject.com/posts/how-to-hide-content/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

// Use in conjunction with .sr-only to only display content when it's focused.
// Useful for "Skip to main content" links; see http://www.w3.org/TR/2013/NOTE-WCAG20-TECHS-20130905/G1
// Credit: HTML5 Boilerplate
.sr-only-focusable {
  &:active,
  &:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto;
  }
}
