/**
* Air Miles Summary Display (Desktop)
**/

@import "./_m.air-miles-summary-display.scss";

.airmiles-thanks-container {
  width: 100%;
  margin: 0px;
  padding-left: 110px;
  padding-right: 110px;
}
