/**
* Cart, Favorites and Pick Up Button (Product's Item)
**/

@import "_variables.scss";
@import "_mixins.scss";
@import "compass/functions";
@import "compass/css3/transform";
@import "compass/css3/opacity";
@import "compass/utilities/general/clearfix";
@import "compass/css3/flexbox";

.products-listing-grid {
  .bag-button-container {
    + .pickup-button-icon-spinner {
      margin-top: 10px;
    }
  }

  .bag-button-icon-spinner {
    + .pickup-button-icon-spinner {
      margin-top: 10px;
    }
  }
}

.item-button-container {
  width: auto;
  right: 15px;
  z-index: 1;

  .inline-spinner-item {
    position: absolute;
    font-size: 0px;
    padding: 0px;
    right: 3px;
    width: 45px;
    height: 45px;

    &:before,
    &:after {
      font-size: 18px;
    }
  }

  /* All Icon */
  .bag-icon-container,
  .favorite-icon-container,
  .pickup-icon-container {
    font-size: 0;
    display: block;
    width: 25px;
    height: 25px;
    position: absolute;
    right: 15px;
    z-index: 2;
    background: $color-global-white;
    @include border-radius(50%);
    vertical-align: top;
    outline: none;

    &.hover-button-enabled {
      &:hover {
        background: transparent;

        .message-icon {
          display: block;
        }
      }
    }
  }

  .bag-icon-container,
  .pickup-icon-container {
    &.hover-button-enabled {
      &:hover {
        &:before {
          background-color: $color-primary-one;
          color: $color-global-white;
        }
      }
    }
  }

  /* Wishlist or Favorite Icon */
  .favorite-icon-container {
    z-index: 2;
    top: 50px;

    /* On Mobile device, Favorites icon is showing itself alone, without pickup or cart icon */
    &:only-child {
      top: 16px;
    }

    @include icon-tcp-favorite();
    &:before {
      font-size: 25px;
      color: $color-primary-one;
      position: relative;
    }

    &.favorite-icon-active {
      @include icon-tcp-favorite-filled();
      &:before {
        font-size: 25px;
        color: $color-primary-one;
        padding: 0px;
        background-color: transparent;
        color: $color-primary-one;
        @include border-radius(0%);
      }
    }

    &.hover-button-enabled {
      /* active information remove */
      &:hover {
        @include icon-tcp-heart();
        &:before {
          font-size: 17px;
          padding: 4px;
          background-color: $color-primary-one;
          color: $color-global-white;
          @include border-radius(50%);
        }

        .information-remove {
          display: block;
        }
      }
    }
  }

  /* Cart Icon */
  .bag-icon-container {
    @include icon-tcp-bag();
    top: 16px;
    // top: 50px;

    &:before {
      font-size: 14px;
      padding: 3px 4px 6px 5px;
      border: 1px solid $color-primary-one;
      @include border-radius(50%);
    }
  }

  .bag-icon-spinner {
    // top: 20px;
    // top: 54px;
    top: 8px;
    margin-right: 1px;
  }

  /* Pickup Icon */
  .pickup-icon-container {
    @include icon-tcp-pin();
    top: 85px;

    &:before {
      font-size: 23px;
      border: 1px solid $color-primary-one;
      @include border-radius(50%);
    }
  }

  .pickup-icon-spinner {
    top: 89px;
  }

  .pickup-icon-container:nth-child(2) {
    top: 50px;
  }

  .pickup-icon-spinner:nth-child(2) {
    top: 54px;
  }

  /* * * * * * */

  .message-icon {
    display: none;
    @include notification-secondary-text();
    @include font-global-black();
    text-transform: capitalize;
    text-align: left;
    border: solid 1px $color-primary-one;
    background-color: $color-global-white;
    padding: 8px 10px 6px 10px;
    top: 0;
    right: 24px;
    position: absolute;
    margin-right: 10px;
    line-height: normal;
    min-width: 125px;

    &:after {
      content: '';
      width: 7px;
      height: 7px;
      border-right: solid 1px $color-primary-one;
      border-top: solid 1px $color-primary-one;
      background: $color-global-white;
      display: inline-block;
      @include transform(rotate(45deg));
      position: absolute;
      right: -5px;
    }
  }
}

/* Favorite's Section */
.wishlist-list-container {
  /* Wishlist or Favorite Icon */
  .favorite-icon-container {
    z-index: 3;
    top: 16px;

    /* active information remove */
    &:hover {
      @include icon-tcp-favorite-filled();
      &:before {
        font-size: 25px;
        padding: 0px;
        background-color: transparent;
        color: $color-primary-one;
      }
    }
  }

  /* Cart Icon */
  .bag-icon-container {
    top: 50px;
  }

  .bag-icon-spinner {
    top: 54px;
  }

  .bag-icon-container:first-child {
    top: 16px;
  }

  .bag-icon-spinner:first-child {
    top: 20px;
  }

  /* SOLD OUT ITEM on Favorite List */
  .sold-out-item {
    /* Wishlist or Favorite Icon */
    .favorite-icon-container {
      @include icon-tcp-favorite-filled();
      &:before {
        color: $color-primary-one-opacity;
        font-size: 25px;
      }

      &:hover {
        opacity: .4;

        .information-remove {
          display: none;
        }
      }
    }

    .item-button-container {
      &:before {
        .favorite-icon-container {
          color: $color-primary-one-opacity;
        }
      }
    }
  }
}
