/**
* Site Map
**/

@import "_m.site-map.scss";

.site-map-container {
  .level-one-container {
    padding: 60px 10px 20px;
  }

  .title {
    text-align: center;
    margin: 60px 0 35px;
  }

  .level-two-container {
    padding: 0;
    width: 33%;
    display: inline-block;
    vertical-align: top;
  }
}
