/**
* Site Map (Mobile)
**/

@import "_mixins.scss";
@import "_variables.scss";

.site-map-container {
  .level-one-container {
    padding: 10px;
  }

  .level-one-title {
    @include font-global-black();
    text-transform: uppercase;
    margin-bottom: 11px;
  }

  .level-two-title {
    @include font-global-medium();
    text-transform: uppercase;
    text-decoration: underline;
    color: $color-primary-two;
    margin-bottom: 13px;
  }

  .level-three-container {
    margin-bottom: 15px;
    margin-left: 10px;
    padding-left: 15px;
    position: relative;

    &.active {
      .level-four-title {
        display: block;
      }

      .level-three-button {
        &:before {
          border-left: 4px solid transparent;
          border-right: 4px solid transparent;
          border-top: 8px solid $color-primary-two;
          top: 4px;
          position: relative;
        }
      }
    }
  }

  .level-three-button {
    font-size: 0px;
    position: absolute;
    left: 0;
    top: 5px;
    width: 8px;
    height: 8px;

    &:before {
      content: '';
      border-top: 4px solid transparent;
      border-bottom: 4px solid transparent;
      border-left: 8px solid $color-primary-two;
    }
  }

  .level-three-title {
    @include navigation-level-1();
  }

  .level-four-title {
    @include description-secondary-text();
    margin-top: 5px;
    display: none;

    a {
      text-decoration: none;
    }
  }

  a {
    color: inherit;
  }
}
